/* GLOBALES */
:root {
  --fondoColor: linear-gradient(270deg, rgba(65, 170, 175, 1) 35%, rgba(54, 75, 102, 1) 100%);
  --fondoCards: #2a4b97;
}

html {}

body {
  background: var(--fondoColor);
  background-size: cover;
}

#wrapper {
  width: 95%;
  margin-left: 2.5%;

}

h1,
h2,
p {
  color: white !important;
}

.nosotros {
  font-size: 19px;
}

a,
li {
  text-decoration: none !important;
  list-style-type: none;
}

.btnContacto {
  color: #3499d4;
}

.btnContacto:hover {
  color: white;
}

.contain {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: center center;
}

main {
  position: absolute;
  margin-top: -109px;
}

section {
  margin-top: 53px;
}

/* MENU HAMBURGUESA */
#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.hamburger {
  transition: 0.3s ease;
  display: none;
}

.hamburger ul {
  padding: 0 22px;
}

.hamburger li {
  list-style: none;
  padding: 12px 0;
}

.hamburger li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.hamburger li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #356cd3, #3499d4);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-61%, -13%);
}

@media (min-width: 961px) {
  #menu {
    display: none;
  }

}

@media (max-width: 960px) {

  .nav__menu {
    display: none !important;
  }
}

/* TERMINA MENU HAMBURGUESA */
.nav1 {
  width: 100%;
  height: 125px;
  /* background: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 310px;
}

.logo>img {
  width: 100%;
}

.nav__menu {
  width: 88%;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  margin-top: -41rem;
  font-size: 30px;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* MENU LINKS */

.menuLink>a {
  position: relative;
  color: white;
}

.text-style-underline {
  background: linear-gradient(84deg, rgb(255, 255, 255) 0%, rgb(51, 122, 255) 100%);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: background-size 300ms ease;
}

.text-style-underline:hover {
  background-size: 100% 3px;
}

/* TERMINA MENU LINKS */
/* INICIA PRODUCTOS */

.carrusel {
  display: flex;
  justify-content: space-evenly;
}

.carrusel__title {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px;
  text-align: center;
}

.productos {


  display: flex;
  grid-auto-rows: 30rem;
  padding: 2rem;
  grid-gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.productos__img {
  width: 100%;
  object-fit: contain;
}

.productos__item {
  flex: 0 0 100%;
  position: relative;
  cursor: pointer;
  padding: 1em;
  background: var(--fondoCards);
  border-radius: 23px;

}

.productos__sombreado {
  position: absolute;
  bottom: 16px;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  width: 89%;
  margin: 0;

  padding: 1rem;
}

.productos__titulo {
  color: white;
}

.productos__item:nth-child(1) {
  grid-column-start: span 1;
}

.productos__item:nth-child(2) {
  grid-column-start: span 1;
}

.productos__item:nth-child(3) {
  grid-column-start: span 1;
}

.productos__item:nth-child(4) {
  grid-column-start: span 1;
}

.productos__item:nth-child(5) {
  grid-column-start: span 1;
}

.productos__item:nth-child(6) {
  grid-column-start: span 1;
}

@media (min-width: 961px) {
  .productos__item {
    flex: 0 0 25%;
  }


}

@media (max-width: 960px) {
  .carrusel {
    flex-direction: column;
  }

}

@media (min-width: 560px)and (max-width: 960px) {
  .productos__titulo {

    width: 95%;
  }
}



/* TERMINA SERVICIOS  */
/* FORMULARIO */
form {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  grid-template-areas: "inputs textarea"
                       "btn btn";

}

.formulario {
  display: flex;
  flex-direction: column;
}

.form__input {
  gap: 20px;
  grid-area: "inputs";
  padding: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  width: 90%;
}

textarea {
  grid-area: "textarea";
  font-size: 20px !important;
  border-radius: 9px;
  padding: 17px;
  width: 69%;
}

input {
  border-radius: 7px;
  padding: 10px;

}

.btn--submit {
  grid-area: "btn";
  border-radius: 11px;
  background-color: var(--fondoCards);
  color: white;
  font-size: 23px;
  padding: 12px;
}

.btn--submit:hover{
background-color: white;
color: var(--fondoCards);
}
@media (max-width: 960px) {
  form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "inputs"
                        "textarea"
                          "btn";

  }
  textarea{
    width: 88%;
  }

}

/* TERMINA FORMULARIO  */
/* FOOTER */

footer{
  height: 100%;
  margin-top: 50px;
  background-color: var(--fondoCards);
}
footer>img{
  width: 20%;
}
@media (max-width: 960px) {
  footer>img{
    width: 50%;
  }
}
/* TERMINA FOOTER  */